<html>
<head>
    Welcome suyash 
    <h1>Event management database saystem</h1>
    </head>
    <p>
    <a href="/register">register</a> or <a href="/login">login</a> to continue!
    </p>
    </html>