<html>
<head>
    Welcome suyash 
    <h1>Event Management Database System</h1>
    </head>
    <h2>FACULTY</h2>
    <p>
    	SIGNUP</br>
    <a href="/register">register</a></br>
        LOGIN</br>
    <a href="/login">login</a> 	
    </p>


    <h2>STUDENTS</h2>
    <p>
    	TO SEE EVENTDETAILS</br> 
    	<a href="/eventss">eventss</a></br>
    	TO PRATICIPATE IN AN EVENT</br>
    	<a href="/participate">participate</a>
    </p>
    </html>