<html>
<head>
    <h1>SIGNUP</h1>
</head>
<body>
<div class="container z-depth-5 color-corrector">
<div class="col s12 m2">
    <div class="row martop">
        <div class="col s12 m12">
            <div>
                <form class="col s12" method="post" action="/participate" id="participateform">
                     <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="reg_id" class="validate" name="reg_id" placeholder="reg_id" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="firstname" class="validate" name="firstname" placeholder="First Name"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="lastname" class="validate" name="lastname" placeholder="Last Name"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="email_id" class="validate" name="email_id" placeholder="email_id" type="text">
                                </div>
                            </div>
                        </div>
                    </div>


                   
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="USNno" class="validate" name="USNno" placeholder="USNno"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="conatct_no" class="validate" name="conatct_no" placeholder="conatct_no" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light mleft mmleft" type="submit" name="submitButton"
                                    value="Submit">submit
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>