<html>
<head>
    <h1>SIGNUP</h1>
</head>
<body>
<div class="container z-depth-5 color-corrector">
<div class="col s12 m2">
    <div class="row martop">
        <div class="col s12 m12">
            <div>
                <form class="col s12" method="post" action="/register" id="loginform">
                <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="firstname" class="validate" name="firstname" placeholder="First Name"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="lastname" class="validate" name="lastname" placeholder="Last Name"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="ID" class="validate" name="ID" placeholder="ID" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field ">
                                <div class="col s12">
                                    <input id="password" class="validate" name="password" placeholder="password"
                                           type="password">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light mleft mmleft" type="submit" name="submitButton"
                                    value="Submit">signup
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
    </div>

</body>
</html>